<!doctype html><html><head>
  <meta charset=utf8>
  <title>llegir api covid19</title>
  <!--vue
    development version, includes helpful console warnings
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    production version, optimized for size and speed
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head><body>

<!--vue template-->
<div id=app>
  <h1>
    Llegir api covid19<br>
    <small>
      "https://analisi.transparenciacatalunya.cat/resource/xuwf-dxjd.json"
    </small>
  </h1><hr>

  <!--seccio filtres-->
  <div>
    <!--tipus de filtre-->
    <div>
      <b>Filtre:</b>
      <label>
        Simple
        <input type=radio name=filtre_tipus v-model="filtre_tipus" value="simple">
      </label>
      <label>
        Avançat
        <input type=radio name=filtre_tipus v-model="filtre_tipus" value="advanced">
      </label>
    </div><hr>

    <!--filtre simple-->
    <table v-if="filtre_tipus=='simple'">
      <tr v-for="c in claus">
        <td>
          <span v-html="c.clau"></span>
        </td>
        <td>
          <input
            v-model="c.filtre"
            :type="c.tipus"
            :placeholder="c.clau"
            @keyup.enter="llegeix_api"
          >
        </td>
        <td>
          &ne; <input type=checkbox v-model="c.not_equal">
        </td>
        <td v-if="c.filtre!=''">
          <button @click="c.filtre=''">neteja</button>
        </td>
      </tr>
    </table>

    <!--filtre avançat-->
    <div v-if="filtre_tipus=='advanced'">
      Filtre SoQL:<br>
      <textarea rows=10 cols=75 v-model="filtre_advanced" placeholder="sintaxi SoQL"></textarea>
      <button v-if="filtre_advanced!=''" @click="filtre_advanced=''">neteja</button>
    </div><hr>

    <!--botó llegir api-->
    <button @click="llegeix_api()" style="padding:1em 2em">
      LLEGIR API (aplicant filtres)
    </button>
  </div><hr>

  <!--nombre de resultats-->
  <div v-if="dades">
    Resultats:
    {{
      typeof(dades.length)=='number' ? dades.length :
      (dades.error?'error':dades)
    }}
    <hr>
  </div>

  <!--taula resultats-->
  <table
    v-if="dades!=null && dades.length"
    style="border-collapse:collapse"
    border=1
  >
    <thead>
      <tr>
        <th v-for="key in Object.keys(dades[0])">
          <span class=clau @click="ordena_dades(key)">
            {{key}}
          </span>
        </th>
      </tr>
      <tr v-if="!dades">
        <td :colspan="claus.length">
          clica el botó "LLEGIR API"
        </td>
      </tr>
    </thead>

    <tbody>
      <tr v-for="d in dades">
        <td v-for="key in Object.keys(dades[0])">
          {{d[key]}}
        </td>
      </tr>
    </tbody>
  </table>
  <div v-else>{{dades}}</div>
</div>

<script>
  //elimina indents d'un string
  String.prototype.trim_linestarts=function(){
    let linies = this.split('\n');
    let linies_trim = [];
    linies.forEach(linia=>{
      linies_trim.push(linia.trim());
    });
    return linies_trim.join("\n");
  }

  let app=new Vue({
    el:"#app",
    data:{
      dades:null, //dades llegides api
      claus:[
        {clau:"data",                     tipus:"date", filtre:"", not_equal:false},
        {clau:"regiosanitariacodi",       tipus:"text", filtre:"", not_equal:false},
        {clau:"regiosanitariadescripcio", tipus:"text", filtre:"", not_equal:false},
        {clau:"sectorsanitaricodi",       tipus:"text", filtre:"", not_equal:false},
        {clau:"sectorsanitaridescripcio", tipus:"text", filtre:"", not_equal:false},
        {clau:"abscodi",                  tipus:"text", filtre:"005", not_equal:false},
        {clau:"absdescripcio",            tipus:"text", filtre:"", not_equal:false},
        {clau:"sexecodi",                 tipus:"text", filtre:"", not_equal:false},
        {clau:"sexedescripcio",           tipus:"text", filtre:"", not_equal:false},
        {clau:"resultatcoviddescripcio",  tipus:"text", filtre:"Sospitós", not_equal:true},
        {clau:"numcasos",                 tipus:"text", filtre:"", not_equal:false},
      ],
      filtre_tipus:"advanced",
      filtre_advanced:`$select=data,sum(numcasos)
        &$group=data
        &$order=data ASC
        &$where=resultatcoviddescripcio not like 'Sospitós' AND (
          abscodi    = '016'
          OR abscodi = '017'
          OR abscodi = '028'
        )
      `.trim_linestarts(),
    },
    methods:{
      //consulta api endpoint amb filtres
      llegeix_api(){
        let url = "https://analisi.transparenciacatalunya.cat/resource/xuwf-dxjd.json";
        let url_amb_filtre = url + this.get_filtre();
        console.log("consultant "+url_amb_filtre);
        let req = new XMLHttpRequest();
        req.open('GET',url_amb_filtre);
        let _this = this;
        req.addEventListener("load",function(){
          _this.dades = JSON.parse(this.responseText);
        });
        req.send();
      },

      //crea un filtre per l'api. per exemple --> "api-url.com/?data=2020-12-31"
      get_filtre(){
        //filtre advanced
        if(this.filtre_tipus=='advanced'){
          return "?"+this.filtre_advanced;
        }

        let filtre=[];
        this.claus.forEach(c=>{
          if(c.filtre!=""){
            if(c.not_equal){
              filtre.push(`$where=${c.clau} != '${c.filtre}'`);
            }else{
              filtre.push(`${c.clau}=${c.filtre}`);
            }
          }
        });
        if(filtre.length==0){
          return "";
        }else{
          return "?"+filtre.join('&');
        }
      },

      //ordena dades by clau
      ordena_dades(clau){
        this.dades.sort(function(a,b){
          let x=a[clau];
          let y=b[clau];
          return ( (x<y) ? -1 : ( (x>y) ? 1 : 0 ) );
        });
      },
    },
  });

</script>

<style>
  span.clau {
    cursor:pointer;
    color:blue;
  }
  span.clau:hover {
    text-decoration:underline
  }
</style>
